<!--CHANGE THE DISPLAY-->

{% extends 'base.html' %} {% block content %} {% for bug in bugs %}
<div class="row">

    <ul style="list-style-type: none; text-align: left">
        <li>
            <h3>{{ bug.title }}</h3>
        </li>
        <li>{{ bug.description }}</li>
        <li>Member: {{ bug.created_by }}</li>
        <li>Published on: {{ bug.date_created }}</li>
        <li>Upvotes</li>
        <li>Status</li>
        <li>BUG #: {{ bug.id }}</li>

        {% if bug.created_by == request.user %}
        <li>
            <form method='GET' action='edit/{{ bug.id }}'><input type='submit' value='Edit'></form>
        </li>

        <li>
            <a href="{{ url 'delete_bug' id=bug.id }}"><button class="btn btn-danger" type="submit">Delete</button></a>
        </li>
        {% endif %}

    </ul>
</div>
<br> {% endfor %} {% endblock %}
