<!--CHANGE THE DISPLAY-->

{% extends 'base.html' %} {% block content %} 

{% for bug in bugs %}
<div class="row">

    <ul style="list-style-type: none; text-align: left">
        <li>
            <h3>#{{ bug.id }} -{{ bug.title }}</h3>
        </li>
        <li>{{ bug.description }}</li>
        <li>Member: {{ bug.created_by }}</li>
        <li>Published on: {{ bug.date_created }}</li>
        <li>{{ bug.votes }} Upvotes</li>
        <li>Status: {{ bug.status }}</li>


        <li><a href="{% url 'bug_report' bug.pk %}">Comments: {{ bug.comments.count }}</a></li>
       
        
        {% if bug.created_by == request.user %}
        <li>
            <form method='GET' action="{% url 'edit_bug' bug.id %}"><input class="btn btn-warning btn-sm" type='submit' value='Edit'></form>
        </li>
        <li>
            <form method='DELETE' action="{% url 'delete_bug' bug.id %}"><input class="btn btn-danger btn-sm" type="submit" value='Delete'></form>
        </li>
        {% endif %}
        <li>
            <form method='POST' action="{% url 'upvote_bug' bug.id %}">{% csrf_token %}<input class="btn btn-success btn-sm" type="submit" value="Upvote"></form>
        </li>
    </ul>
</div>
{% endfor %} 
{% endblock %}
<hr>
