{% extends 'base.html' %} {% block page_title %}Bug Report{% endblock %} {% block page_heading %}Bug Report Ticket{% endblock %} {% block content %}

<!--Bug Report headers and search field-->
{% for bug in bugs %}
<div class="row list-head">
    <div class="col-xs-12 list-head-img">
        <i class="fas fa-bug fa-4x profile" data-toggle="modal" data-target="#myModal"></i>
        <p><strong>Making snAPP work for you.</strong> <i type="button" class="fas fa-info-circle fa-2x info" data-toggle="modal" data-target="#myModal"></i></p>
        <h2 class="tactics">Bug Report #{{ bug.id }}</h2>
        <div class="display">
            <form action="{% url 'bug_search' %}" method='get'>
                <input type='text' name='q'>
                <button type='submit' class="btn btn-success home-btn">Search Bugs</button>
            </form>
        </div>
    </div>
</div>


<!--Modal for Bug Reporting System-->
<div class="col-xs-12">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bug_modal_head">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Using snAPP's reporting system</h4>
                </div>
                <div class="modal-body">
                    <p>At snAPP, we prioritise addressing the problems which are being experienced by the most members. This is decided through a voting system.<br><br>
                        <strong>It's very simple.</strong><br><br> If you experience a bug, <strong>search existing bug reports.</strong><br><br>You can do this by either scrolling through the list of bugs or, more efficiently, search by a keyword (e.g.
                        <em>'login', 'crash'</em>). Click on the bug's title to find out more details.<br><br><strong>Chances are someone else is experiencing the same thing and has reported it already.</strong><br><br>If this is the case, <strong>'Upvote' the report</strong>                        and feel free to leave a comment.<br><br>
                        <strong>If nobody has reported the problem yet, complete a Report Form.</strong><br><br> You'll be notified when we have begun to work on fixing the problem, or our administrator may leave a comment seeking more details about your
                        problem.
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-9">
                            <img class='group-modal' src='{{MEDIA_URL}}images/group-white.png'>
                            <p class="hidden-xs">You need. We build. You use. We develop.</p>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-success home-btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <!--BugTicket UpVote header-->
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 head">
        <!--Header for Bug Details-->
        <p class="feature_panel banner">
            <i class="far fa-thumbs-up fa-2x tactics"><label class='badge comment-badge'>{{ bug.votes }}</label></i>
            <strong> Bug Report details</strong>
        </p><br>
        <form method='POST' action="{% url 'upvote_bug' bug.id %}">{% csrf_token %}
            <input class="btn btn-success home-btn" type="submit" value="Upvote">
        </form>

        <!--Bug Report Tab-->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#request" id="blue-tab">Bug Report</a></li>
            <li><a href="#progress" id="red-tab">snAPP Bug Fix</a></li>
        </ul>
        <div class="tab-content">
            <div id="request" class="tab-pane fade in active">
                <blockquote class='bug-blockquote'>
                    <div class="tab-margin">
                        <p class="payment"><i class="fas fa-ticket-alt fa-2x"></i><strong> #{{ bug.id }} - {{ bug.title }}</strong></p>
                        <br>
                        <p><strong>Requested by:</strong> {{ bug.created_by }}</p>
                        <p><strong>Date:</strong> {{ bug.date_created }}</p>
                        <p class="payment"><strong>Current status:</strong> {{ bug.status }}</p><br>
                        <button class="toggle-button btn btn-danger">Details</button><br><br>
                        <div class="toggle">
                            <p><strong>Bug Type:</strong> {{ bug.bug_type }}</p>
                            <p>{{ bug.description|linebreaks }}</p>
                        </div>
                    </div>
                </blockquote>
            </div>

            <!--snAPP bug progress report-->
            <div id="progress" class="tab-pane fade in">
                <blockquote class='alert-blockquote'>
                    <div class="tab-margin">
                        <p class="tactics"><i class="fas fa-ticket-alt bug fa-2x"></i><strong> #{{ bug.id }} - {{ bug.title }}</strong></p>
                        <br>
                        <p><strong>Requested by:</strong> {{ bug.created_by }}</p>
                        <p><strong>Date:</strong> {{ bug.date_created }}</p>
                        <p class="tactics"><strong>Current status:</strong> {{ bug.status }}</p><br>
                        <button class="toggle-button btn btn-danger">Details</button><br><br>
                        <div class="toggle">
                            <p><strong>Bug Type:</strong> {{ bug.bug_type }}</p>
                            <p>{{ bug.report|linebreaks }}</p>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>

    <!--Comments column header-->
    <div class="col-xs-12 col-md-5 col-lg-4 col-lg-offset-1 head">
        <p class="feature_panel banner">
            <i class="far fa-comments tactics fa-2x tactics"><label class='badge comment-badge'>{{ bug.comments.count }}</label></i><strong> Bug Report details</strong></p><br>
        <a class="btn btn-success home-btn" href="{% url 'add_comment_to_bug' pk=bug.id %}">Add comment</a>
        <section class="comments head scroll">

            {% for comment in bug.comments.all %}
            <article class="comment">
                <a class="comment-pic tactics" href="{% url 'profile' comment.author.id %}">
                   <img src='{{MEDIA_URL}}{{ comment.author.profile.image }}' alt="" width="50" height="50">
                </a>
                <div class="comment-body">

                    <!--Style admin comments differently from user comments-->
                    {% if 'admin' in comment.author.username %}
                    <div class="admin-text">
                        {% else %}
                        <div class="text">
                            {% endif %}
                            <p>{{ comment.text|linebreaks }}</p>
                            <p class="attribution">by <a href="{% url 'profile' comment.author.id %}">{{ comment.author }}</a> on {{ comment.date_created }}</p>
                        </div><br>
                    </div>
            </article>
            {% endfor %}
        </section>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
