{% extends 'base.html' %} 

{% load bootstrap_tags %} 

{% block page_title %}Ticket Page{% endblock %} 

{% block page_heading %}Bug Report Ticket{% endblock %} 

{% block content %}

<div class="row list-head">
    
    <!--Reporting for explanation-->
    <div class="col-xs-12 col-md-4 col-md-push-4 list-head-img">
        <i class="fas fa-bug fa-4x profile" data-toggle="modal" data-target="#myModal"></i>
        <h2 class="tactics">Report a Bug</h2>        
        <p><strong>Remember to read our Reporting Guidelines before submitting a bug report.</strong> <i type="button" class="fas fa-info-circle fa-2x info" data-toggle="modal" data-target="#myModal"></i></p>
        <div class="col-xs-12">

            <!--Modal for further instructions on how to report a bug-->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bug_modal_head">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Using snAPP's reporting system</h4>
                        </div>
                        <div class="modal-body">
                            <p>At snAPP, we prioritise addressing the problems which are being experienced by the most members. This is decided through a voting system.</p>
                            <p><strong>It's very simple.</strong></p>
                            <p>If you experience a bug, <strong>search existing bug reports.</p>
                            <p><strong>Chances are someone else is experiencing the same thing and has reported it already.</strong></strong></p>
                            <p>You can do this by either scrolling through the list of bugs on this page or, more efficiently, search by a keyword (e.g. <em>'login', 'crash'</em>). Click on the bug's title to find out more details.</p>
                            <p>If this is the case,<strong>'Upvote' the report</strong> and feel free to leave a comment.</p>
                            <p><strong>If nobody has reported the problem yet, complete a Report Form.</strong><br><br> snAPP admin will notify you in the comments when work has begun fixing the problem and/or may leave a comment seeking more details about the problem you are experiencing.</p>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-xs-9">
                                    <img class='group-modal' src='{{MEDIA_URL}}images/group-white.png'>
                                    <p class="hidden-xs">You need. We build. You use. We develop.</p>
                                </div>
                                <div class="col-xs-3">
                                    <button type="button" class="btn btn-success home-btn" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Bug search field-->
        <div class="display">
            <form action="{% url 'bug_search' %}" method='get'>
                <input type='text' name='q'>
                <button type='submit' class="btn btn-sm btn-success home-btn">Search Bugs <i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>

    <!--Bug reporting form-->
    <div class="col-xs-12 col-md-4 col-md-pull-4">
        <form method='POST' class='dev-forms' enctype="multipart/form-data">
            <p><em>How to report effectively</em> <i type="button" class="fas fa-info-circle fa-2x info" data-toggle="modal" data-target="#bugModal"></i></p>
            {% csrf_token %} {{ report_form | as_bootstrap }}
            <button type="submit" class="btn btn-success home-btn">Report</button>
        </form>
    </div>

    <!--Labourstart twitter feed plug-in-->
    <div class="col-md-4 hidden-xs hidden-sm">
        <a class="twitter-timeline hidden-sm" data-width="275" data-height="450" data-theme="dark" data-link-color="#E95F28" href="https://twitter.com/labourstart?ref_src=twsrc%5Etfw"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

<div class="col-xs-12">
    <!--Modal for instruction on how to report effectively-->
    <div class="modal fade" id="bugModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bug_modal_head">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Report effectively</h4>
                </div>
                <div class="modal-body">
                    <p>When reporting a bug, <strong>please be as specific as possible.</strong> We will sort out the issue quicker if the information provided is both accurate and clear.</p>
                    <p>Please follow these guidelines:
                        <strong><em>Title:</em></strong> Provide a short title of your choice which sums up the problem you are experiencing.<br><br><strong><em>Bug type:</em></strong> Select the heading from the dropdown list which you believe your bug
                        falls under:<br><br>
                        <u>Functional</u> - something that you expect snAPP to do is hard, awkward, confusing, or impossible<br>
                        <u>Communication</u> - it is not clear how to use a feature of snAPP<br>
                        <u>Syntax</u> - spelling and/or grammar is poor or confusing<br>
                        <u>Error Notices</u> - you experience an error notice when using snAPP<br>
                        <u>Calculation Errors</u> - the number of upvotes, comments, items in your checkout or total amount is wrong<br>
                        <u>Flow Problems</u> - the navigation of snAPP is not brigning you where you want it to<br><br>
                        <strong><em>Description:</em></strong> Describe your problem in the most concise and accurate way you can. It helps us to solve issues quickly!</p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-9">
                            <img class='group-modal' src='{{MEDIA_URL}}images/group-white.png'>
                            <p class="hidden-xs">You need. We build. You use. We develop.</p>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-success home-btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
