{% autoescape off %}
<ul>
    <li>To initiate the password reset process for your {{ user }}
            snAPP Account, click the link below:</li>
    <li>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</li>
    <li>If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</li>
    <li>If you did not instigate the password reset process, please reiew your security and consider changing both your username and passwords.</li>
</ul>
Sincerely,
snAPP Team
{% endautoescape %}