{% extends 'base.html' %} 

{% block content %}

<div class="row list-head">
    <div class="col-xs-12 list-head-img">
        <i class="fas fa-check fa-4x support profile"></i>
    </div>
    <div class "col-xs-12">
        <p><strong>Check your email account.</strong></p>
    </div>
    <div class="col-xs-12">
        <h2 class="support">Reset Password</h2>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h4>
            <strong>We've sent instructions for re-setting your password to the 
            email address registered with your snAPP account.<br><br>You should 
            receive them shortly.<br><br>If you don't receive an email, please make 
            sure you've entered the address you registered with correctly 
            (and check your spam folder).</strong>
        </h4>

    </div>
</div>
{% endblock %}
