{% extends 'base.html' %} {% block page_title %}Password Reset Page{% endblock %} {% block page_heading %}Reset Password{% endblock %} {% block content %}

<div class="row list-head">
    <div class="col-xs-12 list-head-img">
        <i class="fas fa-user fa-4x pre-login profile"></i>
    </div>
    <div class "col-xs-12">
        <p><strong>Forget your password?</strong></p>
    </div>
    <div class="col-xs-12">
        <h2 class="pre-login">Password Reset</h2>
    </div>
    <div class="col-xs-12">
        <form method='POST' class='login'>
            {% csrf_token %}
            <h4>Please enter your email address</h4>
            {{ form.email.errors }} {{ form.email }}
            <br>
            <button type="submit" class="btn btn-lg btn-danger home-btn">Send</button>
        </form>
    </div>
</div>

{% endblock %}


