{% extends 'base.html' %} 

{% block content %} 

{% if validlink %}
<div class="row list-head">
    <div class="col-xs-12">
        <h2 class="pre-login">Change password</h2>
    </div>
    <div class="col-xs-12">
        <form method='POST' class='login'>
            {% csrf_token %} {{ form.as_p }}
            <!--render each element of the form as <p> elements-->
            <button type="submit">Register</button>
        </form>
    </div>
</div>
{% else %}
<p>
    The password reset link was invalid. This may be because it has already been used. Please request a new password reset.
</p>
{% endif %} {% endblock %}
