{% autoescape off %}

Dear snAPP member,

To initiate the password reset process for your {{ user }} snAPP Account, click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

If you did not initiate the password reset process, please review your security and consider changing both your username and password.

Sincerely,
snAPP Team
{% endautoescape %}