{% extends 'base.html' %} 

{% block content %}

<div class="container">
  <div class="row midline">
    <div class="col-xs-12">
      <h4><strong>We've sent instructions for re-setting your password to the email address regiatered with your snAPP account.<br><br>You should receive them shortly.<br><br>If you don't receive an email, please make sure you've entered the address you registered with correctly (and check your spam folder).</strong>
      </h4>
    </div>
  </div>

</div>

{% endblock %}
