.icon-sections {
    margin-top: 4rem;
     @media (min-width: 768px) {
         margin-top: 8rem;
     }
}

.fa-share-alt,
.fa-people-carry,
.fa-chess-rook {
    @media (min-width: 768px) {
    font-size: 10rem;
    }
}

.icon-centered {
    vertical-align: center;

}

.home-btn {
    background: transparent;
    color: #e26e1b;
    border: solid 0.15rem;
    border-color: #e26e1b;
}

.home-btn-1 {
    margin-top: 2rem;
}



.info {
    color: $orange;
}


.btn-cart {
    background-color: $amber;
}

a .fa-cc-stipe {
    background-color: $blue;
}

.password-reset {
  margin-bottom: 8rem;
}

.vote {
    margin-top: .5rem;
}

