.icon-sections {
    margin-top: 6rem;
}

.icon-centered {
    vertical-align: center;

}

.knowledge {
    color: $violet;
}

.support {
    color: $green;
}

.tactics {
    color: $blue;
}


.home-btn {
    margin-top: 5rem;
}
