.icon-sections {
    margin-top: 9rem;
}

.icon-centered {
    vertical-align: center;

}


.home-btn {
    margin-top: 2rem;
}

.info {
    color: $orange;
}

.btn-feature {
    background-color: $lime;
    border-color: $lime;
}

.btn-cart {
    background-color: $amber;
}

a .fa-cc-stipe {
    background-color: $blue;
}

.password-reset {
  margin-bottom: 8rem;
}