// CODE copied and amended from https://bootsnipp.com/snippets/8Mren 
.comment {
    overflow: hidden;
    padding: 0 0 1rem;
    margin: 0 0 1rem;
    *zoom: 1;
}

.comment-pic {
    float: left;
    margin-right: 5px;
    border-radius: 30px;
    border: solid .5rem;
    height: 6rem;
    width: 6rem;
    overflow: hidden;
}

.comment-img img {
    display: block;
}


.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: rgba(255, 255, 255, .58);
    margin-right: 1.5rem;
    width: 90%;
    margin-left: 3%;
}

.comment .admin-text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: rgba(234, 118, 34, .85);
    margin-right: 1.5rem;
    width: 90%;
    margin-left: 3%;

}



.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #fff;
}

.comment a {
    color: #3d3850;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 70px;
}

.comments:before {
    width: 10px;
    top: -20px;
    bottom: -20px;
    background: rgba(255,255,255,.15);
}

.comment:before {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: $orange;
}


.comment p {
    color: #000;
    font-size: 1.5rem;
    text-align: left;
}

.admin {
    background: $green;
}

.scroll{
  overflow-y:auto;
  max-height: 100rem;
}