h1,
h2,
h3,
a {
    font: {
        family: $font-stack-1;
    }
}

h3,
h4,
h5 {
    color: $white;
    font: {
        family: $font-stack-2
    }
    ;
}

h1,
td a,
div a {
    color: $white;
}

h2,
a {
    color: $white;
}

h1 {
    font-size: 5rem;
    @media (min-width: 768px) {
        font-size: 11rem;
        margin-bottom: -16px;
    }
    
}


h3 {
    font-size: 1rem;
}

p {
    font: {
        family: $font-stack-3;
        size: 2rem
    }
    color: $white;
}

caption {
    color: #000;
}


// button font
.btn {
    font-family: $font-stack-1;
}


// labels font
.index-label {
    color: #d8d8d8;
    @media (min-width: 768px) {
        font-size: 2.5rem;
    }
}

.strapline-label {
    color: $blue;
    @media (min-width: 768px) {
        font-size: 3rem;
    }
}


.control-label {
    margin-top: 1rem;
    color: $red;
    font: {
        family: $font-stack-2
    }
    ;
}

.help-block {
    color: $white;
    font-size: 1.5rem;
}


// panels font
.panel-head {
    color: $white;
    font: {
        family: $font-stack-2
    }

}

// icons
.fa-bug {
    color: $blue;
}

.fa-plus-square {
    color: $violet;
}

.list-icons {
    padding: {
        left: 0;
        right: 0;

    }
}

// modals
.modal p {
    color: #000;
}



.modal h4 {
    color: $white;
    font-family: $font-stack-1;
}

.modal-body p {
    font-size: 1.5rem;
    text-align: left;
}


