h1, h3, a {
    color: $white;
    font: {
        family: $font-stack-1; 
    }
}

h1, a {
    color: orange;
}

h3 {
    color: $white;
}



h4, h5 {
    color: $white;
    font: {
        family: $font-stack-2
    };
}


h1 {
    font-size: 5rem;
    @media (min-width: 768px) {
        font-size: 11rem;
    }
}


h3 {
    font-size: 1rem;
}

h4 {
    @media (min-width: 768px) {
    font-size: 3rem;
    }
}

a {
    @media (min-width: 768px) {
    font-size: 3rem;
    }
}


// button font
.btn {
    font-family: $font-stack-1;
}


// labels font
.index-label {
    @media (min-width: 768px) {
    font-size: 2.5rem;
    }
}

.control-label {
    color: $lime;
    font: {
        family: $font-stack-2
    };
}

