#footer {
position: fixed;
    width: 95%;
    bottom: 2%;
    left: 2.5%;
    background-color: #082838;
    height: 7rem;
    border-radius: 10%;;
}

// footer social media links
.globe {
text-align: left;
    margin-top: 2rem;
    color: #d8d8d8;
    border-left: solid #e26e1b .2rem;
}

.contact {
    text-align: center;
    color: #d8d8d8
}

.social-media {
 margin-top: 1rem;
}

.social-media i {
    color: #d8d8d8;
    margin-right: .5rem;
}

.footer-logo {
    width: 4rem;
}
