.form-control-2 {
    width: 30%;
}

.login {
    width: 66%;
    margin-left: 17%;
    @media (min-width: 768px) {
        width: 33%;
        margin-left: 33%;
    }
    @media (min-width: 992px) {
        width: 20%;
        margin-left: 40%;
    }
}

.registration {
    width: 66%;
    margin: {
        left: 17%;
        bottom: 8rem;
    }
    @media (min-width: 768px) {
        width: 33%;
        margin-left: 33%;
    }
    @media (min-width: 992px) {
        width: 20%;
        margin-left: 40%;
    }
}

.check-out {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

#id_email {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.edit_form {
    width: 80%;
    margin-left: 10%;
    text-align: left;
    color: $white;
    font: {
        family: $font-stack-3;
    }
}

.list-search-field {
    margin-top: 3rem;
}

.input-group {
    width: 100%;
}

.input-group-addon {
    background-color: $charcoal;
    color: $white;
}
