body {
    background: {
        size: cover;
        repeat: no-repeat;
        image: url('/media/images/protest80b.jpg');
        attachment: fixed;
        position: center;
    }
    margin-bottom: 10rem;
}

.container {
    margin: {
        left: 1rem;
        right: 1rem;
    }
}



// themes
.knowledge {
    color: $violet;

}

.support {
    color: $green;

}

.tactics {
    color: $blue;

}

.feature {
    color: $lime;
}

.user {
    color: $violet;
}

.ticket {
    color: $amber;
}

.payment {
    color: $red;
}

.pre-login {
    color: $orange;
}




.section-head {
    text-align: left;
    margin-top: 3rem;

}

.section-body {
    text-align: left;
    margin: {
        top: 2rem;
        left: 1rem;
    }
}




// List pages
.list-head {
    margin: {
        top: 6rem;
        left: .5rem;
    }
}

.md-list-margin {
    margin: {
        top: 4rem;
        left: .5rem;
    }
}

.md-list-margin-top {
    margin-top: 5rem;
    text-align: right;
}

.list-head-img {
    text-align: center;
}




hr {
    margin-top: -1rem;
    border-color: $white;
    width: 66.6%;
    @media (min-width: 768px) {
        width: 50%;
    }
}

// blockquote
blockquote {
    border-left: .5rem solid $violet;
    min-height: 20rem;
}

.bug-blockquote {
    border-left: .5rem solid $blue;
}

.feature-blockquote {
    border-left: .5rem solid $lime;
}





// panels
.panel {
    margin-top: 10%;
    width: 80%;
    margin-left: 10%;
}

.contribute {
    text-align: left;
}

.panel-body p {
    color: #000;
    text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
}

.panel-body {
    background-color: #9bdafd;
}

.bug_panel {
    background-color: $blue;
    text-align: left;
    padding-left: 2rem;
}

.feature_panel {
    background-color: $lime;
    text-align: left;
    padding-left: 2rem;
}

.bug-card {
    color: $white;
}


// badges
.bug-badge {
    background-color: $blue;
    font-size: 1rem;
    font-family: $font-stack-2;
    margin: {
        left: -20px;
        bottom: -20px;
    }
}

.feature-badge {
    background-color: $lime;
    font-size: 1rem;
    font-family: $font-stack-2;
    margin: {
        left: -20px;
        bottom: -20px;
        }
    }






.comment-badge {
    background-color: $blue;
    font-size: 2rem;
    font-family: $font-stack-2;
    margin: {
        left: -40px;
        bottom: -20px;
    }
}

// panels






// images
.profile-pic {
    border: .5rem solid $violet;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
}
