body {
    background: {
        size: cover;
        repeat: no-repeat;
        image: url('/media/images/protest80b.jpg');
        attachment: fixed;
        position: center;
    }
}

.container {
    margin: {
        left: 1rem;
        right: 1rem;
    }
}

// themes
.knowledge {
    color: $violet;

}

.support {
    color: $green;

}

.tactics {
    color: $blue;

}

.feature {
    color: $lime;
}

.user {
    color: $violet;
}




.section-head {
    text-align: left;
    margin-top: 3rem;
    
}

.section-body {
    text-align: left;
    margin-top: 2rem;
}

.section-tail {
    text-align: left;
    color: $lime;
}


// List pages
.list-head {
    margin-top: 6rem;
    margin-left: .5rem;
}

.list-head-img {
    text-align: center;
}




hr {
    margin-top: -1rem;
    border-color: $white;
    width: 66.6%;
}

blockquote {
    color: $orange;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
}


// panels
.panel {
    margin-top: 10%;
    width: 80%; 
    margin-left: 10%;
}

.bug_panel {
    background-color: $charcoal;
    font-size: 2rem;
    color: $blue;
}

.bug-badge {
    background-color: $blue;
    font-size: 1rem;
    font-family: $font-stack-2;
}

.feature_panel {
    background-color: $charcoal;
    font-size: 2rem;
    color: $lime;
}

.feature-badge {
    background-color: $lime;
    font-size: 1rem;
    font-family: $font-stack-2;
}

// backgrounds
.profile_activity {
    margin-top: 2rem;
    width: 100%;
    background-color: #000;
    padding-bottom: 4rem;
}

// images
.profile-pic {
    border: .5rem solid $violet;
    border-radius: 50%;
}
