.strapline {
    margin-top: 5rem;
    @media (min-width: 768px) {
        margin-top: 5rem;
    }
}

.midline {
    margin-top: 6rem;
}

/*profile headers*/
.profile {
    border: solid 3px;
    border-radius: 58px;
    padding: 1.75rem;
}

/*comments*/
.head {
    margin-bottom: 3rem;
    margin-top: 3rem;
}


/*feature and bug listing section banners*/
.banner {
    text-align: left;
    background: #0000009e;
    padding: 1rem;
}