.bug_modal_head {
    background-color: $blue;
}

.feature_modal_head {
    background-color: $lime;
}

.alert_modal_head {
    background-color: $red;
}

.modal-footer {
    background-color: $charcoal;
    text-align: left;
    color: $white;
}

.ticket_modal_head {
    background-color: $amber;
    color: #000;
}

.group-modal {
    width: 4rem;
}