.nav-link {
    // margin-left: 2rem;
    margin-right: 4rem;
    font-size: 1.5rem;
    @media (min-width: 768px) {
        // margin-left: 5rem;
        margin-right: 12rem;
    }
    @media (min-width: 992px) {
        // margin-left: 10rem;
        margin-right: 18rem;
        font-size: 2rem;
    }
    @media (min-width: 1200px) {
        margin-right: 20rem;
    }
    
}

.fa-sign-out-alt {
    position: fixed;
    left: 5%;
    top: 8%;
}

.ticket-nav {
    position: fixed;
    text-shadow: 3px 3px black;
    left: 85%;
    top: 8%;
    @media (min-width: 768px) {
      font-size: 6rem;  
    }
    z-index: 1049;
    
}

.feature-count {
    position: fixed;
    left: 88%;
    top: 9%;
    @media (min-width: 768px) {
        left: 91%;
        top: 12%;
    }
    @media (min-width: 992px) {
        left: 90%;
        top: 12%;
    }    
    @media (min-width: 1200px) {
        left: 88%;
        top: 12%;
    }
    background-color: $red;
    z-index: 1050;
}

// dropdown menus
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}


.dropdown {
    display: inline-block;
}

.dropdown-menu {
    background-color: #082838;
    // min-width: 120px;
    box-shadow: 7px 10px 10px black;
    border-radius: 6px;
}

.dropdown-menu li a {
    color: $white;
    font-size: 1.75rem;
    font-family: Lato, sans-serif;
    font-weight: 600;
    
}

.dropdown-menu-center {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    color: $white;
}

.stick-head {
    color: #d8d8d8;
    width: 5rem;
    @media (min-width: 768px) {
        width: 9rem;
    }
    height: auto;
}