.progress {
    height: 3rem;
    width: 66.6%;
    display: block;
    margin: auto;
    background-color: rgba(245, 245, 245, 0.18);
    
}

.progress-bar {
    background-color: $red;
}

.total {
    z-index: 101;
}

