

/*alignment in tabs*/
.list-head {
    margin-top: 4rem;
}



.tab-content {
    text-align: center;
    @media (min-width: 768px) {
        text-align: left;
    }
}

/*blockquote in tabs*/
blockquote {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    height: 34rem;
    overflow: scroll;
}


.profile-blockquote {
    border-left: .5rem solid $violet;
    background: $violet-opaquer;
}

.bug-blockquote {
    border-left: .5rem solid $blue;
    background: $blue-opaquer;

}

.feature-blockquote {
    border-left: .5rem solid $lime;
    background: $lime-opaquer;
}

.alert-blockquote {
    border-left: .5rem solid $red;
    background: $red-opaquer;
}

.bug-top-3-blockquote {
    background: #000000d4;
}


/*Bug Report Tabs colors*/
#blue-tab {
    background: $blue-opaque;
    color: $off-white;
}

#red-tab {
    background: $red-opaque;
    color: $off-white;
}

#violet-tab {
    background: $violet-opaque;
    color: $off-white;
}

#lime-tab {
    background: $lime-opaque;
    color: $off-white;
}

.nav-tabs {
    border-bottom: none;
    font-size: 1.3rem;
    margin-top: 5rem;
}

.tab-center {
    text-align: center;
}

.tab-margin {
    margin: 1rem;
}

.bug-card-head {
    color: #de2923c7;
    font-family: "PT Sans Narrow", sans-serif;
}


/*
Borders for charts (non-blockquote)
Need to override default settings on <embed>
*/
.violet-border {
    border-left: .5rem solid $violet-opaque !important;
}

.blue-border {
    border-left: .5rem solid $blue-opaque !important;
}

.red-border {
    border-left: .5rem solid $red-opaque !important;
}

.lime-border {
    border-left: .5rem solid $lime-opaque !important;
}

.card-pic {
    margin-right: 5px;
    border-radius: 58px;
    border: solid .5rem;
    height: 6rem;
    width: 6rem;
    overflow: hidden;
}