.table-width {
    width: 66.6%;
    margin-left: 17%;
    margin-top: 3rem;
}

table {
    text-align: left;
}

th {
    color: $red;
}

td {
    color: $white;
}

.total-row {
    background-color: $red;
}