.table-width {
    margin-top: 3rem;
}

table {
    text-align: left;
}

.table {
    width: 98%;
}

.tr-checkout th {
    color: $red;
}

td {
    color: $white;
    font-size: 14px;
}

.total-row {
    background-color: $red;
}


.tr-bug th {
    color: $blue;
}

.tr-feature th {
    color: $lime;
}

.tr-alert th {
    color: $red;
}


// hover colors
.table-hover tbody tr:hover td {
    background: #09486b;
}

.scroll-table {
    overflow-y: auto;
    max-height: 50%;
    margin-top: 10rem;
    @media (min-width: 992px) {
        margin-top: 5rem;
    }
}


/*Alert table on profile page*/
.alert-table {
    @media (min-width: 992px) {
        margin-top: 33rem;
    }
}
