// colours
$white: #fff;
$green: #81b944;
$orange: #e26e1b;
$blue: #1b8fce;
$violet: #7d4cbf;
$lime: #ace400;




// 
$font-stack-1: Anton, sans-serif;
$font-stack-2: Lato, sans-serif;
$font-stack-3: 'PT Sans Narrow', sans-serif;