// colours
$white: #fff;
$green: #81b944;
$orange: #e26e1b;
$blue: #1b8fce;
$violet: #b37bff;
// $lime: #ace400;
$lime: #64d29f;
$charcoal: #313231;
$red: #d9534f;
$amber: #e4d043;




// 
$font-stack-1: Anton, sans-serif;
$font-stack-2: Lato, sans-serif;
$font-stack-3: 'PT Sans Narrow', sans-serif;