/*colours*/
/*fonts*/
/*shadows*/
h1,
h2,
h3,
a {
  font-family: Anton, sans-serif; }

h3,
h4,
h5 {
  color: #fff;
  font-family: Lato, sans-serif; }

h6 {
  color: #fff; }

h1,
td a,
div a {
  color: #e26e1b; }

h2,
a {
  color: #fff; }

h1 {
  font-size: 5rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 11rem;
      margin-bottom: -16px; } }

h3 {
  font-size: 1rem; }

p {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2rem;
  color: #fff; }
  @media (min-width: 768px) {
    p {
      font-size: 1.75rem; } }

caption {
  color: #000; }

.btn {
  font-family: Anton, sans-serif; }

.index-label {
  color: #d8d8d8; }
  @media (min-width: 768px) {
    .index-label {
      font-size: 2.5rem; } }

.strapline-label {
  color: #fff; }
  @media (min-width: 768px) {
    .strapline-label {
      font-size: 3rem; } }

.control-label {
  margin-top: 1rem;
  color: #d9534f;
  font-family: Lato, sans-serif; }

.help-block {
  color: #fff;
  font-size: 1.5rem; }

.panel-head {
  color: #fff;
  font-family: Lato, sans-serif; }

.fa-bug {
  color: #1b8fce; }

.fa-plus-square {
  color: #b37bff; }

.list-icons {
  padding-left: 0;
  padding-right: 0; }

.modal p {
  color: #000; }

.modal-footer p {
  color: #fff; }

.modal h4 {
  color: #fff;
  font-family: Anton, sans-serif; }

.modal-body p {
  font-size: 1.5rem;
  text-align: left; }

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/media/images/protest80b.jpg");
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 15rem; }

a:hover {
  color: #fdbc8e !important;
  text-decoration: none; }

.container {
  margin-left: 1rem;
  margin-right: 1rem; }

.knowledge {
  color: #b37bff; }

.support {
  color: #b9ac44; }

.tactics {
  color: #1b8fce; }

.feature {
  color: #64d29f; }

.user {
  color: #b37bff; }

.ticket {
  color: #e4d043; }

.payment {
  color: #d9534f; }

.pre-login {
  color: #e26e1b; }

.white {
  color: #fff; }

.section-head {
  text-align: left;
  margin-top: 3rem; }

.tab-content {
  text-align: left; }

.list-head {
  margin-top: 6rem;
  margin-left: .5rem; }

.md-list-margin {
  margin-top: 4rem;
  margin-left: .5rem; }

.md-list-margin-top {
  margin-top: 5rem;
  text-align: right; }

.list-head-img {
  text-align: center; }

hr {
  margin-top: -1rem;
  border-color: #fff;
  width: 66.6%; }
  @media (min-width: 768px) {
    hr {
      width: 50%; } }

.profile-pic {
  border: 0.5rem solid #b37bff;
  border-radius: 58px;
  height: 12rem;
  width: 12rem;
  margin-top: 3rem; }

.sm-profile-pic {
  height: 6rem;
  width: 6rem;
  margin-top: 0; }

.nav-link {
  margin-right: 4rem;
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    .nav-link {
      margin-right: 12rem; } }
  @media (min-width: 992px) {
    .nav-link {
      margin-right: 18rem;
      font-size: 2rem; } }
  @media (min-width: 1200px) {
    .nav-link {
      margin-right: 20rem; } }

.fa-sign-out-alt {
  position: fixed;
  left: 5%;
  top: 8%; }

.ticket-nav {
  position: fixed;
  text-shadow: 3px 3px black;
  left: 85%;
  top: 8%;
  z-index: 1049; }
  @media (min-width: 768px) {
    .ticket-nav {
      font-size: 6rem; } }

.feature-count {
  position: fixed;
  left: 88%;
  top: 9%;
  background-color: #d9534f;
  z-index: 1050; }
  @media (min-width: 768px) {
    .feature-count {
      left: 91%;
      top: 12%; } }
  @media (min-width: 992px) {
    .feature-count {
      left: 90%;
      top: 12%; } }
  @media (min-width: 1200px) {
    .feature-count {
      left: 88%;
      top: 12%; } }

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3; }

#panel {
  padding: 50px;
  display: none; }

.dropdown {
  display: inline-block; }

.dropdown-menu {
  background-color: #082838;
  box-shadow: 7px 10px 10px black;
  border-radius: 6px; }

.dropdown-menu li a {
  color: #fff;
  font-size: 1.75rem;
  font-family: Lato, sans-serif;
  font-weight: 600; }

.dropdown-menu-center {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0); }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: transparent;
  color: #fff; }

.stick-head {
  color: #d8d8d8;
  width: 5rem;
  height: auto; }
  @media (min-width: 768px) {
    .stick-head {
      width: 9rem; } }

.strapline {
  margin-top: 5rem; }
  @media (min-width: 768px) {
    .strapline {
      margin-top: 5rem; } }

.midline {
  margin-top: 6rem; }

/*profile headers*/
.profile {
  border: solid 3px;
  border-radius: 58px;
  padding: 1.75rem; }

/*comments*/
.head {
  margin-bottom: 3rem;
  margin-top: 3rem; }

/*feature and bug listing section banners*/
.banner {
  text-align: left;
  background: #0000009e;
  padding: 1rem; }

.icon-sections {
  margin-top: 4rem; }
  @media (min-width: 768px) {
    .icon-sections {
      margin-top: 8rem; } }

.index-icons {
  opacity: .6;
  text-shadow: 4px 5px rgba(88, 78, 78, 0.4); }
  @media (min-width: 768px) {
    .index-icons {
      font-size: 12rem; } }

.icon-centered {
  vertical-align: center; }

.home-btn {
  background: transparent;
  color: #e26e1b;
  border: solid 0.15rem;
  border-color: #e26e1b; }

.home-btn-1 {
  margin-top: 2rem; }

.info {
  color: #e26e1b; }

.btn-cart {
  background-color: #e4d043; }

a .fa-cc-stipe {
  background-color: #1b8fce; }

.password-reset {
  margin-bottom: 8rem; }

.vote {
  margin-top: .5rem; }

/*Table search margins*/
.search-margin {
  text-align: center;
  margin-left: 2rem;
  margin-bottom: 3rem; }
  @media (min-width: 992px) {
    .search-margin {
      text-align: left; } }

.reset-btn {
  margin-top: 2rem; }

.form-control-2 {
  width: 30%; }

.snapp-forms {
  width: 66%;
  margin-left: 17%; }
  @media (min-width: 768px) {
    .snapp-forms {
      width: 33%;
      margin-left: 33%; } }
  @media (min-width: 992px) {
    .snapp-forms {
      width: 25rem;
      margin-left: 40%; } }

.dev-forms {
  margin-left: 10%;
  margin-right: 10%; }
  @media (min-width: 768px) {
    .dev-forms {
      margin-left: 20%;
      margin-right: 20%; } }
  @media (min-width: 992px) {
    .dev-forms {
      margin-left: 3rem; } }

.check-out {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%; }

#id_email {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.edit_form {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif; }

.list-search-field {
  margin-top: 3rem; }

.cart-form {
  text-align: left;
  box-shadow: 6px 7px 16px black;
  padding-left: 3rem; }

.input-group-addon {
  background-color: #313231;
  color: #fff; }

.bug_modal_head {
  background-color: #1b8fce; }

.feature_modal_head {
  background-color: #64d29f; }

.alert_modal_head {
  background-color: #d9534f; }

.modal-footer {
  background-color: #313231;
  text-align: left;
  color: #fff; }

.ticket_modal_head {
  background-color: #e4d043;
  color: #000; }

.group-modal {
  width: 4rem; }

#footer {
  position: fixed;
  width: 95%;
  bottom: 0;
  left: 2.5%;
  background-color: #082838;
  height: 7rem;
  border-radius: 18px; }

.globe {
  text-align: left;
  margin-top: 2rem;
  color: #d8d8d8;
  border-left: solid #e26e1b .2rem; }

.contact {
  text-align: center;
  color: #d8d8d8; }

.social-media {
  margin-top: 1rem; }

.social-media i {
  color: #d8d8d8;
  margin-right: .5rem; }

.footer-logo {
  width: 4rem; }

.comment {
  overflow: hidden;
  padding: 0 0 1rem;
  margin: 0 0 1rem;
  *zoom: 1; }

.comment-pic {
  float: left;
  margin-right: 5px;
  border-radius: 30px;
  border: solid .5rem;
  height: 6rem;
  width: 6rem;
  overflow: hidden; }

.comment-img img {
  display: block; }

.comment-body {
  overflow: hidden; }

.comment .text {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.58);
  margin-right: 1.5rem;
  width: 90%;
  margin-left: 3%; }

.comment .admin-text {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: rgba(234, 118, 34, 0.85);
  margin-right: 1.5rem;
  width: 90%;
  margin-left: 3%; }

.comment .text p:last-child {
  margin: 0; }

.comment .attribution {
  margin: 0.5em 0 0;
  font-size: 14px;
  color: #fff; }

.comment a {
  color: #3d3850; }

/* Decoration */
.comments,
.comment {
  position: relative; }

.comments:before,
.comment:before,
.comment .text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 70px; }

.comments:before {
  width: 10px;
  top: -20px;
  bottom: -20px;
  background: rgba(255, 255, 255, 0.15); }

.comment:before {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin: 16px 0 0 -6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #ccc; }

.comment:hover:before {
  background: #e26e1b; }

.comment p {
  color: #000;
  font-size: 1.5rem;
  text-align: left; }

.admin {
  background: #81b944; }

.scroll {
  overflow-y: auto;
  max-height: 100rem; }

.table-width {
  margin-top: 3rem; }

table {
  text-align: left; }

.table {
  width: 98%; }

.tr-checkout th {
  color: #d9534f; }

td {
  color: #fff;
  font-size: 14px; }

.total-row {
  background-color: #d9534f; }

.tr-bug th {
  color: #1b8fce; }

.tr-feature th {
  color: #64d29f; }

.tr-alert th {
  color: #d9534f; }

.table-hover tbody tr:hover td {
  background: #09486b; }

.scroll-table {
  overflow-y: auto;
  max-height: 50%;
  margin-top: 10rem; }
  @media (min-width: 992px) {
    .scroll-table {
      margin-top: 5rem; } }

/*Alert table on profile page*/
@media (min-width: 992px) {
  .alert-table {
    margin-top: 18rem; } }

.alert-table-2 {
  text-align: left;
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif; }

@media (min-width: 992px) {
  #id_trade_union,
  #id_image,
  #id_description,
  #id_alert,
  #id_alert_date {
    width: 90%; } }

.progress {
  height: 3rem;
  width: 66.6%;
  display: block;
  margin: auto;
  background-color: rgba(245, 245, 245, 0.18); }

.progress-bar {
  background-color: #d9534f; }

.total {
  z-index: 101; }

.chart-label {
  color: #fff;
  position: absolute;
  top: 3rem;
  left: 5%; }

embed {
  margin-right: 1rem; }

/*alignment in tabs*/
.list-head {
  margin-top: 4rem; }

.tab-content {
  text-align: center; }
  @media (min-width: 768px) {
    .tab-content {
      text-align: left; } }

/*blockquote in tabs*/
blockquote {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  height: 34rem;
  overflow: scroll; }

.profile-blockquote {
  border-left: 0.5rem solid #b37bff;
  background: rgba(179, 123, 255, 0.17); }

.bug-blockquote {
  border-left: 0.5rem solid #1b8fce;
  background: rgba(27, 143, 206, 0.17); }

.feature-blockquote {
  border-left: 0.5rem solid #64d29f;
  background: rgba(100, 210, 159, 0.14); }

.alert-blockquote {
  border-left: 0.5rem solid #d9534f;
  background: rgba(217, 83, 79, 0.17); }

.bug-top-3-blockquote {
  background: #000000d4; }

/*Bug Report Tabs colors*/
#blue-tab {
  background: rgba(27, 143, 206, 0.4);
  color: #d8d8d8; }

#red-tab {
  background: rgba(217, 83, 79, 0.4);
  color: #d8d8d8; }

#violet-tab {
  background: rgba(179, 123, 255, 0.4);
  color: #d8d8d8; }

#lime-tab {
  background: rgba(100, 210, 159, 0.4);
  color: #d8d8d8; }

.nav-tabs {
  border-bottom: none;
  font-size: 1.3rem;
  margin-top: 5rem; }

.tab-center {
  text-align: center; }

.tab-margin {
  margin: 1rem; }

.bug-card-head {
  color: #de2923c7;
  font-family: "PT Sans Narrow", sans-serif; }

/*
Borders for charts (non-blockquote)
Need to override default settings on <embed>
*/
.violet-border {
  border-left: 0.5rem solid rgba(179, 123, 255, 0.4) !important; }

.blue-border {
  border-left: 0.5rem solid rgba(27, 143, 206, 0.4) !important; }

.red-border {
  border-left: 0.5rem solid rgba(217, 83, 79, 0.4) !important; }

.lime-border {
  border-left: 0.5rem solid rgba(100, 210, 159, 0.4) !important; }

.card-pic {
  margin-right: 5px;
  border-radius: 58px;
  border: solid .5rem;
  height: 6rem;
  width: 6rem;
  overflow: hidden; }

.tooltip-inner {
  width: 40rem;
  text-align: left;
  font-size: 1.75rem;
  background-color: #082838;
  box-shadow: 3px 3px #544a42;
  border: solid #000 1px; }

.bug-badge {
  background-color: #d9534f;
  font-size: 1rem;
  font-family: Lato, sans-serif;
  box-shadow: 3px 3px black; }

.feature-badge {
  background-color: #d9534f;
  font-size: 1rem;
  font-family: Lato, sans-serif;
  box-shadow: 3px 3px black; }

.target-badge {
  background-color: #d9534f;
  box-shadow: 3px 3px black;
  font-size: 1rem;
  font-family: Lato, sans-serif;
  position: absolute;
  left: 4rem; }

.comment-badge {
  background-color: #d9534f;
  font-size: 1rem;
  box-shadow: 3px 3px black;
  font-family: Lato, sans-serif;
  position: absolute;
  left: 4rem; }

.message-fade,
.alert-danger {
  color: #f5f8fa;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: rgba(226, 110, 27, 0.6);
  font-weight: 600;
  font-size: 2rem;
  box-shadow: 3px 3px black; }

.alert {
  width: 90%;
  text-align: center;
  position: fixed;
  z-index: 100;
  left: 5%; }
  @media (min-width: 768px) {
    .alert {
      width: 50%;
      left: 25%; } }

.snapp-alert {
  text-align: left;
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 63px;
  box-shadow: 3px 3px black;
  margin-bottom: 1rem; }
  @media (min-width: 992px) {
    .snapp-alert {
      width: 29%;
      height: 8rem;
      left: -1rem;
      top: 5%; } }

.snapp-alert-background {
  color: #ffffff;
  background-color: rgba(99, 18, 16, 0.67);
  padding-top: .5rem;
  padding-right: .5rem;
  padding-left: 2.5rem;
  padding-bottom: .5rem;
  overflow: hidden;
  border: 1px solid #e26e1b; }

@media (min-width: 992px) {
  background-color: #d9534f80; }
.snapp-alert a {
  font-family: "Open Sans Condensed", sans-serif;
  color: #fff;
  font-weight: 600; }

.marquee {
  overflow: hidden;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 600; }

/*# sourceMappingURL=custom.css.map */
