h1,
h2,
h3,
a {
  font-family: Anton, sans-serif; }

h3,
h4,
h5 {
  color: #fff;
  font-family: Lato, sans-serif; }

h1,
td a,
div a {
  color: #e26e1b; }

h2,
a {
  color: #fff; }

h1 {
  font-size: 5rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 11rem;
      margin-bottom: -16px; } }

h3 {
  font-size: 1rem; }

p {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2rem;
  color: #fff; }

caption {
  color: #000; }

.btn {
  font-family: Anton, sans-serif; }

.index-label {
  color: #d8d8d8; }
  @media (min-width: 768px) {
    .index-label {
      font-size: 2.5rem; } }

.strapline-label {
  color: #d8d8d8; }
  @media (min-width: 768px) {
    .strapline-label {
      font-size: 3rem; } }

.control-label {
  margin-top: 1rem;
  color: #d9534f;
  font-family: Lato, sans-serif; }

.help-block {
  color: #fff;
  font-size: 1.5rem; }

.panel-head {
  color: #fff;
  font-family: Lato, sans-serif; }

.fa-bug {
  color: #1b8fce; }

.fa-plus-square {
  color: #b37bff; }

.list-icons {
  padding-left: 0;
  padding-right: 0; }

.modal p {
  color: #000; }

.modal h4 {
  color: #fff;
  font-family: Anton, sans-serif; }

.modal-body p {
  font-size: 1.5rem;
  text-align: left; }

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/media/images/protest80b.jpg");
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 15rem; }

a:hover {
  color: #fdbc8e !important;
  text-decoration: none; }

.container {
  margin-left: 1rem;
  margin-right: 1rem; }

.alert {
  text-align: center; }

.knowledge {
  color: #b37bff; }

.support {
  color: #81b944; }

.tactics {
  color: #1b8fce; }

.feature {
  color: #64d29f; }

.user {
  color: #b37bff; }

.ticket {
  color: #e4d043; }

.payment {
  color: #d9534f; }

.pre-login {
  color: #e26e1b; }

.white {
  color: #fff; }

.section-head {
  text-align: left;
  margin-top: 3rem; }

.section-body {
  text-align: left;
  margin-top: 2rem;
  margin-left: 1rem; }

.list-head {
  margin-top: 6rem;
  margin-left: .5rem; }

.md-list-margin {
  margin-top: 4rem;
  margin-left: .5rem; }

.md-list-margin-top {
  margin-top: 5rem;
  text-align: right; }

.list-head-img {
  text-align: center; }

hr {
  margin-top: -1rem;
  border-color: #fff;
  width: 66.6%; }
  @media (min-width: 768px) {
    hr {
      width: 50%; } }

blockquote {
  width: 100%; }

.profile-blockquote {
  border-left: 0.5rem solid #b37bff;
  min-height: 20rem;
  background: rgba(179, 123, 255, 0.17); }

.bug-blockquote {
  border-left: 0.5rem solid #1b8fce;
  min-height: 20rem;
  background: rgba(27, 143, 206, 0.17); }

.feature-blockquote {
  border-left: 0.5rem solid #64d29f;
  min-height: 20rem;
  background: rgba(100, 210, 159, 0.17);
  text-align: left; }

.alert-blockquote {
  border-left: 0.5rem solid #d9534f;
  min-height: 20rem;
  background: rgba(217, 83, 79, 0.17);
  text-align: left; }

.panel {
  margin-top: 10%;
  width: 80%;
  margin-left: 10%; }

.contribute {
  text-align: left; }

.panel-body p {
  color: #000;
  text-align: justify;
  font-family: 'Open Sans Condensed', sans-serif; }

.panel-body {
  background-color: #9bdafd; }

.bug_panel {
  background-color: #1b8fce;
  text-align: left;
  padding-left: 2rem; }

.feature_panel {
  background-color: #64d29f;
  text-align: left;
  padding-left: 2rem; }

.bug-badge {
  background-color: #d9534f;
  font-size: 1rem;
  font-family: Lato, sans-serif;
  margin-left: -20px;
  margin-bottom: -20px; }

.feature-badge {
  background-color: #d9534f;
  font-size: 1rem;
  font-family: Lato, sans-serif;
  margin-left: -20px;
  margin-bottom: -20px; }

.target-badge {
  margin-left: -100px;
  margin-bottom: -85px;
  background-color: #d9534f;
  font-size: 2rem;
  font-family: Lato, sans-serif; }

.comment-badge {
  background-color: #d9534f;
  font-size: 2rem;
  font-family: Lato, sans-serif;
  margin-left: -40px;
  margin-bottom: -20px; }

@media (min-width: 992px) {
  .profile-pg-icon {
    text-align: right; } }

.profile-pic {
  border: 0.5rem solid #b37bff;
  border-radius: 50%;
  height: 12rem;
  width: 12rem; }

.nav-link {
  margin-right: 4rem;
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    .nav-link {
      margin-right: 12rem; } }
  @media (min-width: 992px) {
    .nav-link {
      margin-right: 18rem;
      font-size: 2rem; } }
  @media (min-width: 1200px) {
    .nav-link {
      margin-right: 20rem; } }

.fa-sign-out-alt {
  position: fixed;
  left: 5%;
  top: 8%; }

.ticket-nav {
  position: fixed;
  left: 85%;
  top: 8%;
  z-index: 1049; }
  @media (min-width: 768px) {
    .ticket-nav {
      font-size: 6rem; } }

.feature-count {
  position: fixed;
  left: 88%;
  top: 9%;
  background-color: #d9534f;
  z-index: 1050; }
  @media (min-width: 768px) {
    .feature-count {
      left: 91%;
      top: 12%; } }
  @media (min-width: 992px) {
    .feature-count {
      left: 90%;
      top: 12%; } }
  @media (min-width: 1200px) {
    .feature-count {
      left: 88%;
      top: 12%; } }

.dropdown {
  display: inline-block; }

.dropdown-menu {
  background-color: #000;
  min-width: 120px; }

.dropdown-menu li a {
  color: #fff;
  font-size: 2rem; }

.dropdown-menu-center {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0); }

.stick-head {
  color: #d8d8d8;
  width: 5rem;
  height: auto; }
  @media (min-width: 768px) {
    .stick-head {
      width: 9rem; } }

.strapline {
  margin-top: 5rem; }
  @media (min-width: 768px) {
    .strapline {
      margin-top: 9rem; } }

.midline {
  margin-top: 6rem; }

.profile {
  border: solid 3px;
  border-radius: 50%;
  padding: 1.75rem; }

.head {
  margin-bottom: 3rem;
  margin-top: 3rem; }

.icon-sections {
  margin-top: 4rem; }
  @media (min-width: 768px) {
    .icon-sections {
      margin-top: 8rem; } }

@media (min-width: 768px) {
  .fa-share-alt,
  .fa-people-carry,
  .fa-chess-rook {
    font-size: 10rem; } }

.icon-centered {
  vertical-align: center; }

.home-btn {
  margin-top: 2rem;
  background: transparent;
  color: #e26e1b;
  border: solid 0.15rem;
  border-color: #e26e1b; }
  @media (min-width: 768px) {
    .home-btn {
      margin-top: 8rem; } }

.info {
  color: #e26e1b; }

.btn-feature {
  background-color: #64d29f;
  border-color: #64d29f; }

.btn-cart {
  background-color: #e4d043; }

a .fa-cc-stipe {
  background-color: #1b8fce; }

.password-reset {
  margin-bottom: 8rem; }

.vote {
  margin-top: .5rem; }

.form-control-2 {
  width: 30%; }

.login {
  width: 66%;
  margin-left: 17%; }
  @media (min-width: 768px) {
    .login {
      width: 33%;
      margin-left: 33%; } }
  @media (min-width: 992px) {
    .login {
      width: 20%;
      margin-left: 40%; } }

.registration {
  width: 66%;
  margin-left: 17%;
  margin-bottom: 8rem; }
  @media (min-width: 768px) {
    .registration {
      width: 33%;
      margin-left: 33%; } }
  @media (min-width: 992px) {
    .registration {
      width: 20%;
      margin-left: 40%; } }

.check-out {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%; }

#id_email {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.edit_form {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif; }

.list-search-field {
  margin-top: 3rem; }

.cart-form {
  text-align: center; }

.input-group-addon {
  background-color: #313231;
  color: #fff; }

.bug_modal_head {
  background-color: #1b8fce; }

.feature_modal_head {
  background-color: #64d29f; }

.modal-footer {
  background-color: #313231; }

.ticket_modal_head {
  background-color: #e4d043;
  color: #000; }

#footer {
  position: fixed;
  width: 95%;
  bottom: 0;
  left: 2.5%;
  background-color: #082838;
  height: 7rem;
  border-radius: 10%; }

.globe {
  text-align: left;
  margin-top: 2rem;
  color: #d8d8d8;
  border-left: solid #e26e1b .2rem; }

.contact {
  text-align: center;
  color: #d8d8d8; }

.social-media {
  margin-top: 1rem; }

.social-media i {
  color: #d8d8d8;
  margin-right: .5rem; }

.footer-logo {
  width: 4rem; }

.comment {
  overflow: hidden;
  padding: 0 0 1rem;
  margin: 0 0 1rem;
  *zoom: 1; }

.comment-img {
  float: left;
  margin-right: 33px;
  border-radius: 5px;
  overflow: hidden; }

.comment-img img {
  display: block; }

.comment-pic {
  border: solid .5rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%; }

.comment-body {
  overflow: hidden; }

.comment .text {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.58);
  margin-right: 1.5rem; }

.comment .text p:last-child {
  margin: 0; }

.comment .attribution {
  margin: 0.5em 0 0;
  font-size: 14px;
  color: #666; }

/* Decoration */
.comments,
.comment {
  position: relative; }

.comments:before,
.comment:before,
.comment .text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 70px; }

.comments:before {
  width: 10px;
  top: -20px;
  bottom: -20px;
  background: rgba(255, 255, 255, 0.15); }

.comment:before {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin: 16px 0 0 -6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #ccc; }

.comment:hover:before {
  background: orange; }

.comment p {
  color: #000;
  font-size: 1.5rem;
  text-align: left; }

.admin {
  background: #81b944; }

.scroll {
  overflow-y: auto;
  max-height: 100rem; }

.table-width {
  margin-top: 3rem; }

table {
  text-align: left; }

.tr-checkout th {
  color: #d9534f; }

td {
  color: #fff;
  font-size: 14px; }

.total-row {
  background-color: #d9534f; }

.tr-bug th {
  color: #1b8fce; }

.tr-feature th {
  color: #64d29f; }

.table-hover tbody tr:hover td {
  background: #09486b; }

.scroll-table {
  overflow-y: auto;
  max-height: 30rem; }

.progress {
  height: 3rem;
  width: 66.6%;
  display: block;
  margin: auto;
  background-color: rgba(245, 245, 245, 0.18); }

.progress-bar {
  background-color: #d9534f; }

.chart-label {
  color: #fff;
  position: absolute;
  top: 3rem;
  left: 5%; }

embed {
  margin-top: 5rem;
  padding-top: 4rem; }

/*# sourceMappingURL=custom.css.map */
