h1,
h2,
h3,
a {
  font-family: Anton, sans-serif; }

h3,
h4,
h5 {
  color: #fff;
  font-family: Lato, sans-serif; }

h1,
a {
  color: #e26e1b; }

h2 {
  color: #fff; }

h1 {
  font-size: 5rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 11rem; } }

h3 {
  font-size: 1rem; }

p {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2rem;
  color: #fff; }

caption {
  color: #000; }

.btn {
  font-family: Anton, sans-serif; }

@media (min-width: 768px) {
  .index-label {
    font-size: 2.5rem; } }

.control-label {
  margin-top: 1rem;
  color: #d9534f;
  font-family: Lato, sans-serif; }

.help-block {
  color: #fff;
  font-size: 1.5rem; }

.panel-head {
  color: #fff;
  font-family: Lato, sans-serif; }

.fa-bug {
  color: #1b8fce; }

.fa-plus-square {
  color: #b37bff; }

.list-icons {
  padding-left: 0;
  padding-right: 0; }

.modal p {
  color: #000; }

.modal h4 {
  color: #fff;
  font-family: Anton, sans-serif; }

.modal-body p {
  font-size: 1.5rem;
  text-align: left; }

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/media/images/protest80b.jpg");
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 10rem; }

.container {
  margin-left: 1rem;
  margin-right: 1rem; }

.knowledge {
  color: #b37bff; }

.support {
  color: #81b944; }

.tactics {
  color: #1b8fce; }

.feature {
  color: #64d29f; }

.user {
  color: #b37bff; }

.ticket {
  color: #e4d043; }

.payment {
  color: #d9534f; }

.pre-login {
  color: #e26e1b; }

.section-head {
  text-align: left;
  margin-top: 3rem; }

.section-body {
  text-align: left;
  margin-top: 2rem;
  margin-left: 1rem; }

.list-head {
  margin-top: 6rem;
  margin-left: .5rem; }

.md-list-margin {
  margin-top: 4rem;
  margin-left: .5rem; }

.md-list-margin-top {
  margin-top: 5rem;
  text-align: right; }

.list-head-img {
  text-align: center; }

hr {
  margin-top: -1rem;
  border-color: #fff;
  width: 66.6%; }
  @media (min-width: 768px) {
    hr {
      width: 50%; } }

blockquote {
  border-left: 0.5rem solid #b37bff; }

.bug-blockquote {
  border-left: 0.5rem solid #1b8fce; }

.feature-blockquote {
  border-left: 0.5rem solid #64d29f; }

.panel {
  margin-top: 10%;
  width: 80%;
  margin-left: 10%; }

.contribute {
  text-align: left; }

.panel-body p {
  color: #000;
  text-align: justify;
  font-family: 'Open Sans Condensed', sans-serif; }

.panel-body {
  background-color: #9bdafd; }

.bug_panel {
  background-color: #1b8fce;
  text-align: left;
  padding-left: 2rem; }

.bug-badge {
  background-color: #1b8fce;
  font-size: 1rem;
  font-family: Lato, sans-serif;
  margin-left: -20px;
  margin-bottom: -20px; }

.feature-badge {
  background-color: #64d29f;
  font-size: 1rem;
  font-family: Lato, sans-serif;
  margin-left: -20px;
  margin-bottom: -20px; }

.comment-badge {
  background-color: #1b8fce;
  font-size: 2rem;
  font-family: Lato, sans-serif;
  margin-left: -40px;
  margin-bottom: -20px; }

.bug-card {
  color: #fff; }

.feature_panel {
  background-color: #313231;
  font-size: 2rem;
  color: #64d29f; }

.profile-pic {
  border: 0.5rem solid #b37bff;
  border-radius: 50%; }

.nav-link {
  margin-right: 4rem; }
  @media (min-width: 768px) {
    .nav-link {
      margin-right: 10rem; } }
  @media (min-width: 992px) {
    .nav-link {
      margin-right: 15rem; } }

.fa-sign-out-alt {
  position: fixed;
  left: 5%;
  top: 8%; }

.ticket-nav {
  position: fixed;
  left: 85%;
  top: 8%; }

.feature-count {
  position: fixed;
  left: 85%;
  top: 7%;
  background-color: #d9534f; }

.dropdown {
  display: inline-block; }

.dropdown-menu-center {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0); }

.stick-head {
  width: 5rem;
  height: auto; }

.strapline {
  margin-top: 3rem; }

.midline {
  margin-top: 6rem; }

.profile {
  border: solid 3px;
  border-radius: 50%;
  padding: 1.75rem; }

.comment-head {
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: #d9534f; }

.report-head {
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: #81b944; }

.icon-sections {
  margin-top: 9rem; }

.icon-centered {
  vertical-align: center; }

.home-btn {
  margin-top: 2rem; }

.info {
  color: #e26e1b; }

.btn-feature {
  background-color: #64d29f;
  border-color: #64d29f; }

.btn-cart {
  background-color: #e4d043; }

a .fa-cc-stipe {
  background-color: #1b8fce; }

.password-reset {
  margin-bottom: 8rem; }

.vote {
  margin-top: .5rem; }

.login {
  width: 66%;
  margin-left: 17%; }
  @media (min-width: 768px) {
    .login {
      width: 33%;
      margin-left: 33%; } }
  @media (min-width: 992px) {
    .login {
      width: 20%;
      margin-left: 40%; } }

.registration {
  width: 66%;
  margin-left: 17%;
  margin-bottom: 8rem; }
  @media (min-width: 768px) {
    .registration {
      width: 33%;
      margin-left: 33%; } }
  @media (min-width: 992px) {
    .registration {
      width: 20%;
      margin-left: 40%; } }

.check-out {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%; }

#id_email {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.edit_form {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif; }

.list-search-field {
  margin-top: 3rem; }

.input-group {
  width: 100%; }

.input-group-addon {
  background-color: #313231;
  color: #fff; }

.bug_modal_head {
  background-color: #1b8fce; }

.feature_modal_head {
  background-color: #64d29f; }

.modal-footer {
  background-color: #313231; }

.ticket_modal_head {
  background-color: #e4d043;
  color: #000; }

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 60px;
  background-color: #000; }

.comment {
  overflow: hidden;
  padding: 0 0 1rem;
  margin: 0 0 1rem;
  *zoom: 1; }

.comment-img {
  float: left;
  margin-right: 33px;
  border-radius: 5px;
  overflow: hidden; }

.comment-img img {
  display: block; }

.comment-body {
  overflow: hidden; }

.comment .text {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #fff; }

.comment .text p:last-child {
  margin: 0; }

.comment .attribution {
  margin: 0.5em 0 0;
  font-size: 14px;
  color: #666; }

/* Decoration */
.comments,
.comment {
  position: relative; }

.comments:before,
.comment:before,
.comment .text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 65px; }

.comments:before {
  width: 3px;
  top: -20px;
  bottom: -20px;
  background: rgba(255, 255, 255, 0.15); }

.comment:before {
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin: 16px 0 0 -6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #ccc; }

.comment:hover:before {
  background: orange; }

.comment .text:before {
  top: 18px;
  left: 78px;
  width: 9px;
  height: 9px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); }

.comment p {
  color: #000;
  font-size: 1.5rem;
  text-align: left; }

.table-width {
  width: 66.6%;
  margin-left: 17%;
  margin-top: 3rem; }

table {
  text-align: left; }

.tr-checkout th {
  color: #d9534f; }

td {
  color: #fff;
  font-size: 14px; }

.total-row {
  background-color: #d9534f; }

.tr-bug th {
  color: #1b8fce; }

.tr-feature th {
  color: #64d29f; }

.table-hover tbody tr:hover td {
  background-color: #e26e1b; }

/*# sourceMappingURL=custom.css.map */
