{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %}Edit Profile{% endblock %} {% block page_heading %}Profile{% endblock %} {% block content %}


    <div class="row">
        <div class="col-xs-12">
            <h2>Edit Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form method='POST' class="edit_form">
                {% csrf_token %} 
                {{ user_form | as_bootstrap }} 
                {{ profile_form | as_bootstrap }}
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>




{% endblock %}
