{% extends 'base.html' %} 
{% load bootstrap_tags %} {% block page_title %}Edit Profile{% endblock %} {% block page_heading %}Profile{% endblock %} {% block content %}


    <div class="row">
        <div class="col-xs-12">
            <h2 class="user">Edit Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form method='POST' class="edit_form" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="cold-md-6 col-lg-4">
                {{ user_form | as_bootstrap }}
            </div>
            <div class="cold-md-6 col-lg-4">
                {{ profile_form | as_bootstrap }}
            </div>    
                <button type="submit" class="btn btn-danger">Save Changes</button>
            </form>
        </div>
    </div>




{% endblock %}
