{% extends 'base.html' %} {% load staticfiles %} {% block page_title %}Home Page{% endblock %} {% block page_heading %}Home{% endblock %} {% block content %}


<div class="row strapline intro-1">
    <div class="col-xs-12">
        <h4 class="strapline-label"><strong>The <u>only</u> app designed by and for union activists.</strong></h4>
    </div>
</div>
<div class="row icon-sections">
    <div class="col-xs-4 col-lg-2 col-lg-offset-3 intro-2">
        <i data-toggle="tooltip" data-placement="right" title="Get support when you need it: 
            grievances, disciplinaries, gathering information, analysing documents 
            and more by announcing ALERTS to the snAPP network" class="fas fa-5x 
            fa-exclamation index-icons payment"></i><br>
        <h5 class="index-label">raise alerts</h5>
    </div>
    <div class="col-xs-4 col-lg-2 intro-3"><a><i data-toggle="tooltip" data-placement="top" title="Give practical support to snAPP members and make invaluable connections"
        class="fas fa-5x fa-people-carry index-icons support"></i></a><br>
        <h5 class="index-label">get and give support</h5><br><br>
    </div>
    <div class="col-xs-4 col-lg-2 intro-4"><i data-toggle="tooltip" data-placement="left" title="Develop ideas and requests to make snAPP support your activism" class="fas fa-5x fa-cog index-icons feature"></i><br>
        <h5 class="index-label">build your app</h5>
    </div>
</div>
<p>
    <a href="{% url 'registration' %}"><button class="btn btn-lg btn-success home-btn home-btn-1">Join snAPP</button></a>
</p>




{% endblock %}
