{% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block page_heading %}{{ user }}'s Profile{% endblock %} {% block content %}



<div class="row list-head">
    <div class="col-xs-12">
    
        <!--<img class="profile-pic" src='{{MEDIA_URL}}{{ user.profile.image }}'> -->
 
        <i class="fas fa-user-secret fa-4x profile user"></i> 
       
    </div>
    <div class "col-xs-12">
        <p><strong>{{ user.username }}'s snAPP profile.</strong></p><br>
        
    </div>
</div>

<div class="row main">
    <div class="col-xs-12">
        <p class="user"><strong>union:</strong> {{ user.profile.trade_union }}</p>
    </div>

    <div class="col-xs-12 section-body">
        <blockquote>
            <p>{{ user.profile.description }}</p>
        </blockquote>
    </div>

    <div class="col-xs-8">
        <p class="user"><strong>email:</strong> {{ user.email }}</p>
    </div>
    <div class="col-xs-4">
        <a href="{% url 'edit_profile' %}"><button class="btn btn-sm btn-danger">Edit Profile</button></a>
    </div>
</div>

<div class="row section-body">
    <div class="col-xs-12">
        <h2>snAPP activity:</h2>
    </div>
    <div class="col-xs-6">
        <i class="fas fa-bug fa-4x"></i>
        <label class='badge bug-badge'>{{ user.user_bugs.count }}</label>
        <p>bugs reported</p>
    </div>
    <div class="col-xs-6">
        <i class="fas fa-cog fa-4x feature"></i>
        <label class='badge feature-badge'>{{ user.user_features.count }}</label>
        <p>features requested</p>
    </div>
</div>





<p>{{ profile.email }}</p>

{% endblock %}
