{% extends 'base.html' %} 

{% load staticfiles %} 

{% load mathfilters %} 

{% block content %}


<!--Bug panel lists-->
<div class="row list-head">
    <div class="col-xs-12 list-head-img">
        <i class="fas fa-cog fa-4x profile feature"></i>
    </div>
    <div class "col-xs-12">
        <p><strong>Find out how to use snAPP's feature request system.</strong> <i type="button" class="fas fa-info-circle fa-1x info" data-toggle="modal" data-target="#myModal"></i></p>
    </div>
</div>

<div class="row list-search-field">
    <div class="col-xs-12">
        <div class="display">
            <form action="{% url 'feature_search' %}" method='get'>
                <input type='text' name='q'><br><br>
                <button type='submit' class="btn btn-feature btn-lg">Search Requests</button>
            </form>
        </div>
    </div>
</div>


<div class="col-xs-12">
    <!--Modal-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header feature_modal_head">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Using snAPP's feature request system</h4>
                </div>
                <div class="modal-body">
                    <p>snAPP is a member-driven platform.<br><br>We develop snAPP by adding new features that have been requested by members. We prioritise our work depending on which features are in most demand. Demand is measured through member financial
                        contributions. These contributions go towards sustaining snAPP and (partially) compensating our software developers for their time.<br><br> If you would like a feature added to snAPP, we would first recommend <strong>searching existing feature requests.</strong><br><br>You
                        can do this by either scrolling through the list of features or, more efficiently, search by a keyword (e.g. <em>'chat', 'file sharing'</em>). Click on the feature's title to find out more details.<br><br><strong>You can support an existing feature request by making a contribution (minimum £9.99). Also, feel free to leave a comment about the request.</strong>The
                        more contributions a feature request recieves, the more time we'll have to spend on developing it.<br><br><strong>If nobody has reported the problem yet, complete a Feature Request form.</strong><br><br> You'll be notified when
                        we have begun to work on the feature, or our administrator may leave a comment seeking more details about your request.
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class='stick-head' src='{{MEDIA_URL}}images/readstic2.png'>
                        </div>
                        <div class="col-xs-8">
                            <button type="button" class="btn btn-lg btn-feature" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Feature List Display-->
<div class="row">

    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2 class="feature">Feature Requests</h2>
        <div class='scroll-table'>
            <table class="table table-condensed table-hover">
                <thead>
                    <tr class="tr-feature">
                        <th class="hidden-xs">#</th>
                        <th>Title</th>
                        <th class="hidden-xs hidden-sm">Date</th>
                        <th class="hidden-xs">Status</th>
                        <th>Type</th>
                        <th></th>
                        <th class="hidden-xs"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for feature in features %}
                    <tr>
                        <td class="hidden-xs">{{ feature.id }}</td>
                        <td><a href="{% url 'feature_report' feature.pk %}">{{ feature.title|truncatewords:3 }}</a></td>
                        <td class="hidden-xs hidden-sm">{{ feature.date_created }}</td>
                        <td>{{ feature.status }}</td>
                        <td>{{ feature.feature_type }}</td>
                        <td class="list-icons">
                            <i class="fas fa-bullseye fa-2x">
                            <!--render target amount-->
                            <label class='badge feature-badge'>£{{ feature.target|floatformat }}</label>
                            </i>
                        </td>
                        <td class="list-icons hidden-xs">
                            <i class="far fa-comments fa-2x">
                            <label class='badge feature-badge'>{{ feature.feature_comments.count }}</label>
                            </i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--Feature Charts-->
    <div class="col-xs-12 col-md-6">
        <h2 class="chart-label">Feature Requests Received</h2>
        <embed type="image/svg+xml" src={{feature_pie_chart_data|safe}} style='max-width:700px' />
    </div>
    <div class="col-xs-12 col-md-6">
        <h2 class="chart-label">Activity Update</h2>
        <embed type="image/svg+xml" src={{feature_chart_data|safe}} style='max-width:700px' />
    </div>

    <!--Top 3 Upvoted Features - NEED TO CHANGE-->
    <div class="col-xs-12 col-sm-4">
        <h2 class="white head">In development</h2>
            <blockquote class="feature-blockquote">
            {% for next in next_feature %}
            <p><i class="fas fa-cog feature fa-2x"></i><strong><a href="{% url 'feature_report' next.pk %}">#{{ next.id }} - {{ next.title }}</strong></a></p>
            <p><img class='comment-pic'src='{{MEDIA_URL}}{{ next.created_by.profile.image }}' alt="" width="50" height="50"> <strong>{{ next.created_by }}</strong><br>
            <p><strong>Feature Type:</strong> {{next.feature_type }}</p>
            <p>{{ next.description|truncatewords:20 }}</p>
            {% endfor %}
        </blockquote>
    </div>    
    <div class="col-xs-12 col-sm-4">
        <h2 class="white head">Latest update</h2>
            <blockquote class="feature-blockquote">
            {% for latest in latest_feature %}
            <p><i class="fas fa-cog feature fa-2x"></i><strong><a href="{% url 'feature_report' latest.pk %}">#{{ latest.id }} - {{ latest.title }}</strong></a></p>
            <p><img class='comment-pic'src='{{MEDIA_URL}}{{ latest.created_by.profile.image }}' alt="" width="50" height="50"> <strong>{{ latest.created_by }}</strong><br>
            <p><strong>Feature Type:</strong> {{latest.feature_type }}</p>
            <p>{{ latest.description|truncatewords:20 }}</p>
            {% endfor %}
        </blockquote>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h2 class="white head">Seeking support</h2>
            <blockquote class="feature-blockquote">
            {% for random in random_feature %}
            <p><i class="fas fa-cog feature fa-2x"></i><strong><a href="{% url 'feature_report' random.pk %}">#{{ random.id }} - {{ random.title }}</strong></a></p>
            <p><img class='comment-pic'src='{{MEDIA_URL}}{{ random.created_by.profile.image }}' alt="" width="50" height="50"> <strong>{{ random.created_by }}</strong><br>
            <p><strong>Feature Type:</strong> {{random.feature_type }}</p>
            <p>{{ random.description|truncatewords:20 }}</p>
            {% endfor %}
        </blockquote>
    </div>
</div>




{% endblock %}
