{% extends 'base.html' %} {% load staticfiles %} {% block page_title %}Feature Report{% endblock %} {% block page_heading %}Feature Report Ticket{% endblock %} {% load mathfilters %} {% block content %} {% for feature in features %}



<!--Feature report page heading-->
<div class="row list-head">
    <div class="col-xs-12 list-head-img">
        <i class="fas fa-cog fa-4x profile feature"></i>
    </div>
    <div class "col-xs-12">
        <p><strong>Building snAPP one feature at a time.</strong> <i type="button" class="fas fa-info-circle fa-1x info" data-toggle="modal" data-target="#myModal"></i></p>
        <h2 class="feature">Feature Request #{{ feature.id }}</h2>
    </div>

</div>

<!--Modal for Feature Request System-->
<div class="col-xs-12">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header feature_modal_head">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Using snAPP's feature request system</h4>
                </div>
                <div class="modal-body">
                    <p>snAPP is a member-driven platform.<br><br>We develop snAPP by adding new features that have been requested by members. We prioritise our work depending on which features are in most demand. Demand is measured through member financial
                        contributions. These contributions go towards sustaining snAPP and (partially) compensating our software developers for their time.<br><br> If you would like a feature added to snAPP, we would first recommend <strong>searching existing feature requests.</strong><br><br>You
                        can do this by either scrolling through the list of features or, more efficiently, search by a keyword (e.g. <em>'chat', 'file sharing'</em>). Click on the feature's title to find out more details.<br><br><strong>You can support an existing feature request by making a contribution (minimum £9.99) and members may leave comments/questions about the request.</strong><br><br>The
                        more contributions a feature request recieves, the more time we'll have to spend on developing it.<br><br><strong>If you'd like to request a <strong>New Feature</strong>, complete a Feature Request form.</strong><br><br>You should
                        then visit your newly posted feature and <strong>make (at least) a minimum contribution.</strong>We will email you the <strong>snAPP Primer for Securing New Features</strong> which provides details of how to get support for your
                        idea.
                        <br><br>You'll be notified when we have begun to work on the feature, or our administrator may leave a comment seeking more details about your request.
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-9">
                            <img class='group-modal' src='{{MEDIA_URL}}images/group-white.png'>
                            <p class="hidden-xs">You need. We build. You use. We develop.</p>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-success home-btn" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--FeatureTicket column header with upvote count-->
<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-1 head">
        <i class="fas fa-bullseye fa-6x head feature feature-tool">
            
            <!--Display Amount Raised-->
            <label class='badge target-badge'>£{{ feature.target|floatformat  }}</label>
 
        <!--Filter records to show status of feature ticket and if it is active, display progress bar to target-->
        </i><br> {% if total > 0 and feature.status == 'active' %}
        <div class="progress">
            <div class="progress-bar progress-bar-striped active dynamic-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:{{total|div:feature.target|mul:1000 }}%">
            </div>
        </div>
        <p class="feature total">Total contributions: <strong>£{{ total|mul:feature.contribution|floatformat  }}</strong></p>
        {% elif total > 0 and feature.status == 'complete' %}
        <h2>Feature added to snAPP!</h2>
        {% else %}
        <p class="payment"><strong>No snAPP tickets purchaed yet</strong></p>
        {% endif %}

        <!--Feature Request & Proposal tab format-->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#request" id="violet-tab">Feature Request</a></li>
            <li><a href="#progress" id="lime-tab">snAPP Progress Report</a></li>
        </ul>
        <div class="tab-content">
            
            <!--Member request tab-->
            <div id="request" class="tab-pane fade in active">
                <blockquote class='profile-blockquote'>
                    <div class="tab-margin">
                        <p class="feature"><i class="fas fa-ticket-alt feature fa-2x"></i><strong> #{{ feature.id }} - {{ feature.title }}</strong></p>
                        <p><strong>Requested by:</strong> {{ feature.created_by }}</p>
                        <p><strong>Date:</strong> {{ feature.date_created }}</p>
                        <p class="feature"><strong>Current status:</strong> {{ feature.status }}</p><br><br>
                        <button class="toggle-button btn btn-danger">Details</button><br>
                        <div class="toggle">
                            <p><strong>Feature Type:</strong> {{ feature.feature_type }}</p>
                            <p>{{ feature.description|linebreaks }}</p>
                            
                            <!--Render # of tickets needed to reach target-->
                            {% if total == 0 %}
                            <p class="user"><strong>No tickets purchased yet!</strong></p>
                            {% elif feature.target|div:10 <= total %} 
                            <p class="user"><strong>Target reached!</strong></p>
                            {% else %}
                            <p class="user"><strong>{{ feature.target|div:10|sub:total|floatformat }} more tickets needed!</strong></p>
                            {% endif %}


                            <!--Form to add tickets to cart-->
                            <form method='POST' action="{% url 'add_to_cart' feature.id %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="feature"><strong>Contribute Now!</strong></p><input name='quantity' type='number' min="1" max='999' placeholder="# tickets" class="form-control-2">
                                        <button class="btn btn-success" type="submit">Support</button>
                                    </div>
                                </div>
                            </form>
                            <h6>* 1 x Ticket = £10. You will be asked to verify the amount before checking out. </h6>
                        </div>
                    </div>
                </blockquote>
            </div>

            <!--snAPP Progress tab-->
            <div id="progress" class="tab-pane fade in">
                <blockquote class='feature-blockquote'>
                    <div class="tab-margin">
                        <p class="user"><i class="fas fa-ticket-alt user fa-2x"></i><strong> #{{ feature.id }} - {{ feature.title }}</strong></p>
                        <p><strong>Requested by:</strong> {{ feature.created_by }}</p>
                        <p><strong>Start Date:</strong> {{ feature.date_started }}</p>
                        <p class="user"><strong>Current status:</strong> {{ feature.status }}</p><br><br>
                        <button class="toggle-button2 btn btn-danger">Details</button><br>
                        <div class="toggle2">
                            <p>{{ feature.report|linebreaks }}</p>

                            <!--Render # of tickets needed to reach target-->
                            {% if total == 0 %}
                            <p class="user"><strong>No tickets purchased yet!</strong></p>
                            {% elif feature.target|div:10 <= total %} 
                            <p class="user"><strong>Target reached!</strong></p>
                            {% else %}
                            <p class="user"><strong>{{ feature.target|div:10|sub:total|floatformat }} more tickets needed!</strong></p>
                            {% endif %}
                            
                            <!--Purchase tickets form-->
                            <form method='POST' action="{% url 'add_to_cart' feature.id %}">
                                {% csrf_token %}
                                <form method='POST' action="{% url 'add_to_cart' feature.id %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="feature"><strong>Contribute Now!</strong></p><input name='quantity' type='number' min="1" max='999' placeholder="# tickets" class="form-control-2"><br><br>
                                            <button class="btn btn-success" type="submit">Support</button>
                                        </div>
                                    </div>
                                </form>
                            </form>
                            <h6>* 1 x Ticket = £10. You will be asked to verify the amount before checking out. </h6>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>



    <!--Comments-->
    <div class="col-xs-12 col-md-5 head">
        <i class="far fa-comments fa-6x feature">
            <label class='badge comment-badge'>{{ feature.feature_comments.count }}</label>
        </i><br>
        <a class="btn btn-danger" href="{% url 'add_comment_to_feature' pk=feature.id %}">Add comment</a>
        <section class="comments head scroll">

            {% for comment in feature.feature_comments.all %}
            <article class="comment">
                <a class="feature comment-pic" href="#">
                    <img src='{{MEDIA_URL}}{{ comment.author.profile.image }}' alt="" width="50" height="50">
                </a>
                <!--Style admin comments differently from user comments-->
                <div class="comment-body">
                    {% if 'deasun' in comment.author.username %}
                    <div class="admin-text">
                        {% else %}
                        <div class="text">
                            {% endif %}
                            <p>{{ comment.text|linebreaks }}</p>
                            <p class="attribution">by <a href="{% url 'profile' comment.author.id %}"> {{ comment.author }}</a> on {{ comment.date_created }}</p>
                        </div>
                        <br>
                    </div>
            </article>
            {% endfor %}
        </section>
        </div>
    </div>
</div>

{% endfor %} {% endblock %}
