{% extends 'base.html' %} 

{% block page_title %}Feature Report{% endblock %} 

{% block page_heading %}Feature Report Ticket{% endblock %} 

{% block content %} 

{% load mathfilters %} 

{% for feature in features %}

<div class="row list-head">
    <div class="col-xs-12 list-head-img">
        <i class="fas fa-cog fa-4x profile feature"></i>
    </div>
    <div class "col-xs-12">
        <p><strong>Building snAPP one feature at a time.</strong> <i type="button" class="fas fa-info-circle fa-1x info" data-toggle="modal" data-target="#myModal"></i></p>
    </div>
    <div class="col-xs-12">

        <h2 class="feature">Feature Request #{{ feature.id }}</h2>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active dynamic-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:{{orders.quantity__sum|div:feature.target|mul:1000 }}%">
                {{ orders.quantity__sum|div:feature.target|mul:1000|floatformat }}%
            </div>
        </div>
    </div>
</div>

<!--Modal for Feature Request System-->
<div class="col-xs-12">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header feature_modal_head">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Using snAPP's feature request system</h4>
                </div>
                <div class="modal-body">
                    <p>snAPP is a member-driven platform.<br><br>We develop snAPP by adding new features that have been requested by members. We prioritise our work depending on which features are in most demand. Demand is measured through member financial
                        contributions. These contributions go towards sustaining snAPP and (partially) compensating our software developers for their time.<br><br> If you would like a feature added to snAPP, we would first recommend <strong>searching existing feature requests.</strong><br><br>You
                        can do this by either scrolling through the list of features or, more efficiently, search by a keyword (e.g. <em>'chat', 'file sharing'</em>). Click on the feature's title to find out more details.<br><br><strong>You can support an existing feature request by making a contribution (minimum £9.99) and members may leave comments/questions about the request.</strong><br><br>The
                        more contributions a feature request recieves, the more time we'll have to spend on developing it.<br><br><strong>If you'd like to request a <strong>New Feature</strong>, complete a Feature Request form.</strong><br><br>You should
                        then visit your newly posted feature and <strong>make (at least) a minimum contribution.</strong>We will email you the <strong>snAPP Primer for Securing New Features</strong> which provides details of how to get support for your
                        idea.
                        <br><br>You'll be notified when we have begun to work on the feature, or our administrator may leave a comment seeking more details about your request.
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class='stick-head' src='{{MEDIA_URL}}images/readstic2.png'>
                        </div>
                        <div class="col-xs-8">
                            <button type="button" class="btn btn-lg btn-feature" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--FeatureTicket Panel Display-->

<!--Test-->
<div class="row panels">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1 report-head">
        <i class="fas fa-handshake fa-6x">
            
            <!--Render Amount Raised-->
            <label class='badge comment-badge'>{{ orders.quantity__sum|mul:feature.contribution  }}</label>
 
            
        </i><br>
        <p class="feature">Target: <strong>{{ feature.target  }}</strong></p>
        <div class="panel">
            <div class="panel-heading feature_panel">
                <p><i class="fas fa-cog bug-card fa-2x"></i><strong> #{{ feature.id }} - {{ feature.title }}</strong></p>
            </div>
            <div class="panel-body">
                <p><strong>Requested by:</strong> {{ feature.created_by }}</p>
                <p><strong>Date:</strong> {{ feature.date_created }}</p>
                <p class="feature"><strong>Current status:</strong> {{ feature.status }}</p>
                <hr>
                <p><strong>Feature Type:</strong> {{ feature.feature_type }}</p>
                <p><strong>Details:</strong> {{ feature.description }}</p>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-4 list-icons">
                        <i class="fas fa-ticket-alt fa-2x">
                            
                            <!--Render Ticket Quantity as Feature Upvotes-->
                            <!--{% if orders.quantity is None %} -->
                            <!--<label class='badge comment-badge'>0</label>-->
                            <!--{% else %}-->
                            <label class='badge comment-badge'>{{ orders.quantity__sum|mul:feature.contribution  }}</label>
                            <!--{% endif %}-->
                            
                        </i>
                    </div>
                </div>
            </div>

            <!--Form to buy a FeatureTicket-->
            <div class="panel-heading feature_panel contribute">
                <form method='POST' action="{% url 'add_to_cart' feature.id %}">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-xs-12">
                            <p class="feature">Contribute Now!</p>
                        </div>
                        <div class="col-xs-5">
                            <input name='quantity' type='number' min="1" max='999' placeholder="# tickets" class="form-control">
                        </div>
                        <div class="col-xs-5">
                            <span class="input-group-btn"><button class="btn btn-success" type="submit">Support</button></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Comments-->
    <div class="col-xs-12 col-md-4 comment-head">
        <i class="far fa-comments fa-6x"></i><br>
        <a class="btn btn-danger" href="{% url 'add_comment_to_feature' pk=feature.id %}">Add comment</a>

        <section class="comments comment-head">
            <article class="comment">
                <a class="comment-img" href="#non"><img class="profile-pic" src='{{MEDIA_URL}}{{ user.profile.image }}' alt="" width="50" height="50"></a>
                <div class="comment-body">
                    {% for comment in feature.feature_comments.all %}
                    <div class="text">
                        <p>{{ comment.text }}</p>
                        <p class="attribution">by <a>{{ comment.author }}</a> on {{ comment.date_created }}</p>
                    </div>
                    <br> {% endfor %}
                </div>
            </article>
        </section>
    </div>
</div>

{% endfor %} {% endblock %}
