{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>snAPP</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'web-fonts-with-css/css/fontawesome-all.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <!--Custom styles-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type='text/css' /> {% block head_js %} {% endblock head_js %}
</head>

<body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h1 class="masthead-brand">snAPP</h1>
                <nav class="nav nav-masthead justify-content-center">
                    {% if user.is_authenticated %}
                    <h3><a class="nav-link" href="{% url 'profile' %}">Profile</a></h3>
                    <h3><a class="nav-link" href="{% url 'report_bug' %}">Report Bugs</a></h3>
                    <h3><a class="nav-link" href="{% url 'request_feature' %}">Request Features</a></h3>
                    <h3><a class="nav-link" href="{% url 'logout' %}">Logout</a></h3>
                    {% else %}
                    <h3><a class="nav-link active" href="{% url 'login' %}">Login</a></h3>
                    <h3><a class="nav-link" href="{% url 'registration' %}">Register</a></h3>
                    <h3><a class="nav-link" href="#">About snAPP</a></h3>
                    {% endif %}
                    <h4><a href="{% url 'view_cart' %}">
                            <i class='fas fa-shopping-cart'></i>
                            {% if feature_count > 0 %}
                            <label class='badge badge-warning'>{{ feature_count }}</label>
                            {% endif %}
                        </a>
                    </h4>

                </nav>
            </div>
        </header>
        {% if messages %}
        <div class='alert alert-warning'>
            <div class="messages">
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
        </div>
        {% endif %} {% block content %} {% endblock %}

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p><a class="nav-link" href="#">About snAPP</a></p>
            </div>
        </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--bootstrap JS bundles-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>
