{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>snAPP</title>

    <!-- Bootstrap CSS and fonts -->
    {% include 'base/css.html' %}

    <!--jQuery, Bootstrap JS-->
    {% include 'base/js.html' %} 
    
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    
    <!--Custom CSS styles-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type='text/css' />
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">

                <!--ticket tally display for logged-in user-->
                {% if user.is_authenticated %}
                <a href="{% url 'view_cart' %}"><i class="fas fa-ticket-alt ticket-nav fa-2x"></i>
                    {% if feature_count > 0 %}
                    <label class='badge badge-warning feature-count'>{{ feature_count }}</label>
                    {% endif %}
                </a> 
                {% endif %}

                <h1 class="masthead-brand"><img class='stick-head' src='{{MEDIA_URL}}images/group-white.png'><a href="{% url 'index' %}">snAPP</a></h1>
                <p class="hidden-xs">You need. We build. You use. We develop.</p>
                <hr>
                <nav class="nav nav-masthead justify-content-center">

                    <!--Navbar for logged in user-->
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a class="nav-link" data-toggle="dropdown">Account
                          <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-center">
                            <li><a href="{% url 'profile' request.user.id %}">Profile</a></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a class="nav-link" data-toggle="dropdown">Develop
                          <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-center">
                            <li><a href="{% url 'report_bug' %}">Report a bug</a></li>
                            <li><a href="{% url 'get_bug_listing' %}">Fixing snAPP</a></li>
                            <br>
                            <hr>
                            <li><a href="{% url 'request_feature' %}">Make a request</a></li>
                            <li><a href="{% url 'get_feature_listing' %}">Developing snAPP</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown">Explore
                          <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-center">
                            <li><a href="#">Knoweldge</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Strategy</a></li>
                        </ul>
                    </div>
                    {% else %}
                    
                    <!--Navbar for unlogged user-->
                    <div class="dropdown">
                        <a class="nav-link" href="{% url 'login' %}">Login
                          <span></span></a>
                    </div>
                    <div class="dropdown">
                        <a class="nav-link" href="#">About
                          <span></span></a>
                    </div>
                    <div class="dropdown">
                        <a class="nav-link" href="{% url 'registration' %}">Register
                          <span></span></a>
                    </div>
                    {% endif %}
                </nav>
            </div>
        </header>
        
        <!--Django messages for displaying acknowledging successful login/logout, empty search results and payment info-->
        {% if messages %}
        <div class='alert'>
            {% for message in messages %}
            <div class="message-fade">
                 {{ message }}
                 <a href='#' class='delete-message'>&times;</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    
    {% block content %} 
    
    {% endblock %}
    
    <!--Footer - using hidden and visible bs for different viewports-->
    <footer id="footer">
        <div class="row">
            <div class='hidden-xs hidden-sm col-lg-2 col-lg-offset-1'>
                <h2 class='hidden-md'><img class='footer-logo' src='{{MEDIA_URL}}images/group-white.png'>snAPP</h2>
            </div>
            <div class="hidden-xs hidden-sm col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-1 globe">
                <i class="fas fa-globe fa-2x"></i> Béal Feirste, Éire
            </div>
            <div class="hidden-xs hidden-sm col-lg-2 col-md-3 globe">
                <i class="fas fa-phone fa-2x"></i> +44 28 90 123456
            </div>
            <div class="hidden-xs hidden-sm col-lg-2 col-md-3 globe">
                <i class="fas fa-envelope-square fa-2x"></i> admin@snapp.org
            </div>
            <div class="col-sm-12 col-md-2 social-media">
                <i class="fab fa-twitter-square fa-3x"></i>
                <i class="fab fa-facebook-square fa-3x"></i>
                <i class="fab fa-github-square fa-3x"></i>
            </div>
        </div>
    </footer>
    
    <!--snAPP scrolling aLert-->
    <div class="snapp-alert snapp-alert-background">
            
            <!--Use context processor to render random alert. Filter out expired alerts-->
            {% for alert in profile %}
            {% if alert.alert != "No active alerts." %}
            <a  href="{% url 'profile' alert.user.id %}"><img class="alert-img comment-pic tactics" src='{{MEDIA_URL}}{{ alert.image }}' alt="" width="50" height="50">
            <strong>{{ alert.user.username }}, Deadline: {{ alert.alert_date}}</strong></a>
            <div class='marquee'>{{ alert.alert }}</div>
            {% endif %}
            {% endfor %}
        </div>
</body>

</html>
